<div class="container-fluid h-100 overflow-hidden">
  <div class="row">
    <div class="col-md-12 col-md-pr-pl-0">
      <nav class="navbar navbar-expand-lg bg-light navbar-height border-bottom border-secondary ps-3">
          <button class="btn btn-outline-secondary" type="button" [routerLink]="['/presentations']"><i class="bi bi-arrow-left"></i></button>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item m-2">
                <strong class="fs-6" *ngIf="presentacion != null">{{presentacion.nombre}}</strong><br />
                <small class="color-grey">Creada por {{userName}}</small>
              </li>
            </ul>
            <form class="d-flex m-3" role="search">
              <button type="button" class="btn btn-secondary me-2" (click)="openShare(presentacion);"><i class="bi bi-share"></i> Compartir</button>
              <button type="button" class="btn btn-primary"><i class="bi bi-play-fill"></i> Presentar</button>
            </form>
      </nav>
      <nav class="navbar navbar-expand-lg bg-light navbar-height border-bottom border-secondary ps-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#slydeModal">
          Nueva Diapositiva
        </button>

        <!-- Modal -->
        <div class="modal fade" id="slydeModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="slydeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="slydeModalLabel">Crear Diapositiva</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6 mb-1" *ngFor="let tipo of tiposPregunta">
                    <div class="card">
                      <button class="btn btn-secondary" (click)="questionTypeSelected = tipo.codigo">{{tipo.descripcion}}</button>
                    </div>
                  </div>
                  </div>
                </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="newSlyde()">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row h-75 flex-nowrap">
    <div class="col-md-2 mb-2" [ngClass]="{'overflow-y-scroll': slydes.length > 5}">
      <div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
        <div class="card mt-2 w-100 d-inline  text-center" *ngFor="let slyde of slydes; let i=index;">
            <i class="bi fs-2" [ngClass]="{'bi-bar-chart': slyde.tipoPregunta == 1,'bi-cloud': slyde.tipoPregunta == 2,'bi-bar-chart-steps': slyde.tipoPregunta == 3,'bi-chat-left-text': slyde.tipoPregunta == 4 }"></i>
          <input type="radio" class="btn-check " name="slyde" id="{{slyde.id}}" autocomplete="off" [checked]="slyde.id == currentSlyde.id" (click)="setCurrentSlyde(slyde)">
          <label class="btn btn-outline-primary w-100 d-inline-flex" for="{{slyde.id}}">
            <div class="w-100 text-center">
              {{slyde.descripcionPregunta}}
            </div>
            <div class="text-align-end" *ngIf="slydes.length > 1">
              <button class="btn btn-outline-danger p-0 border-0" (click)="deleteSlyde(slyde.id)"><i class="bi bi-trash-fill"></i></button>
            </div>
            </label>
        </div>
      </div>
    </div>
    <div class="col-md-6 background-grey">
      <div class="container-fluid bg-white h-75 mt-4">
        <div class="row">
          <div class="col-md-12">
              <h4>{{question}}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" [ngClass]="{'overflow-y-scroll': itemsOpciones.length > 3}">
      <div class="row border-bottom border-secondary">
        <div class="col-md-12">
          <label class="form-label pt-2">Tipo de slyde</label>
          <select class="form-select mb-4" [(ngModel)]="tipoPreguntaSel" (change)="changeType()">
            <option *ngFor="let tipo of tiposPregunta" [value]="tipo.codigo">
              {{tipo.descripcion}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item width-200" role="presentation">
              <button class="nav-link active w-100" id="contenido-tab" data-bs-toggle="tab" data-bs-target="#contenido-tab-pane" type="button" role="tab" aria-controls="contenido-tab-pane" aria-selected="true">Contenido</button>
            </li>
            <li class="nav-item width-200" role="presentation">
              <button class="nav-link w-100" id="personalizar-tab" data-bs-toggle="tab" data-bs-target="#personalizar-tab-pane" type="button" role="tab" aria-controls="personalizar-tab-pane" aria-selected="false">Personalizar</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="contenido-tab-pane" role="tabpanel" aria-labelledby="contenido-tab" tabindex="0" >
              <div class="row mt-3">
                <div class="col-md-12" >
                  <label for="exampleFormControlInput1" class="form-label fs-6"><strong>Tu pregunta</strong></label>
                  <input type="text" class="form-control" placeholder="Pregunta" [(ngModel)]="question" (blur)="updateSlyde()">
                </div>
              </div>
              <div class="row mt-3" *ngIf="tipoPreguntaSel == 1">
                <label for="exampleFormControlInput1" class="form-label fs-6"><strong>Opciones</strong></label>
                <div class="col-md-12">
                  <div class="d-flex" *ngFor="let item of itemsOpciones">
                    <input type="text" class="form-control mb-2" (blur)="updateSlyde()" [(ngModel)]="item.opcion"><a role="button" (click)="deleteOptionSlyde(item.id)"><i class="bi bi-x fs-4"></i></a>
                  </div>
                  <button type="button" class="btn btn-secondary w-100 mt-1 mb-3" (click)="addItem()"><i class="bi bi-plus-lg"></i> Agregar opcion</button>
                </div>
              </div>
              <div class="row mt-3" *ngIf="tipoPreguntaSel == 2">
                <div class="col-md-6">
                  <label for="exampleFormControlInput1" class="form-label fs-6"><strong>Entradas por participante</strong></label>
                  <input type="number" class="form-control w-50" min="1" [(ngModel)]="entries" (blur)="updateSlyde()">
                </div>
              </div>
              <div class="row mt-3" *ngIf="tipoPreguntaSel == 3">
                <label for="exampleFormControlInput1" class="form-label fs-6"><strong>Items</strong></label>
                <div class="col-md-12">
                  <div class="d-flex" *ngFor="let item of itemsOpciones">
                    <input type="text" class="form-control mb-2" (blur)="updateSlyde()" [(ngModel)]="item.opcion"><a role="button" (click)="deleteOptionSlyde(item.id)"><i class="bi bi-x fs-4"></i></a>
                  </div>
                  <button type="button" class="btn btn-secondary w-100 mt-1 mb-3" (click)="addItem()"><i class="bi bi-plus-lg"></i> Agregar item</button>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="personalizar-tab-pane" role="tabpanel" aria-labelledby="personalizar-tab" tabindex="1">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>