.color-grey{
    color: rgba(16, 24, 52, 0.5);
}

.background-grey {
    background-color: rgba(16, 24, 52, 0.5);
}

.width-200{
    width: 200px;
}

.select-custom{
    background-color: transparent;
    border:none;
    cursor: pointer;
    width: 75%;
}