<div class="container-fluid h-100">
  <div class="row">
    <div class="col-md-12 col-md-pr-pl-0">
      <nav class="navbar navbar-expand-lg bg-light navbar-height border-bottom border-secondary ps-3">
          <button class="btn btn-outline-secondary" type="button" [routerLink]="['/presentations']"><i class="bi bi-arrow-left"></i></button>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item m-2">
                <strong class="fs-6" *ngIf="presentacion != null">{{presentacion.nombre}}</strong><br />
                <small class="color-grey">Creada por {{userName}}</small>
              </li>
            </ul>
            <form class="d-flex m-3" role="search">
              <button type="button" class="btn btn-secondary me-2" (click)="openShare(presentacion);"><i class="bi bi-share"></i> Compartir</button>
              <button type="button" class="btn btn-primary"><i class="bi bi-play-fill"></i> Presentar</button>
            </form>
      </nav>
      <nav class="navbar navbar-expand-lg bg-light navbar-height border-bottom border-secondary ps-3">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#slydeModal">
          Nueva Diapositiva
        </button>

        <!-- Modal -->
        <div class="modal fade" id="slydeModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="slydeModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="slydeModalLabel">Crear Diapositiva</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6 mb-1" *ngFor="let tipo of tiposPregunta">
                    <div class="card">
                      <button class="btn btn-secondary" (click)="questionTypeSelected = tipo.codigo">{{tipo.descripcion}}</button>
                    </div>
                  </div>
                  </div>
                </div>
                
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="saveSlyde()">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row h-75">
    <div class="col-md-2">
      <div class="btn-group-vertical w-100" role="group" aria-label="Vertical button group">
        <div class="card w-100" *ngFor="let slyde of slydes; let i=index;">
          <button type="button" class="btn btn-outline-primary" (click)="setCurrentSlyde(slyde)">
            <!-- <i class="bi bi-cloudy-fill fs-1"></i> <br /> -->
            <select disabled class="form-control select-custom text-center">
              <option *ngFor="let tipo of tiposPregunta" [selected]="tipo.codigo === slyde.tipoPregunta">
                {{tipo.descripcion}}
              </option>
            </select>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 background-grey">

    </div>
    <div class="col-md-4">
      <div class="row border-bottom border-secondary">
        <div class="col-md-12">
          <label class="form-label pt-2">Tipo de slyde</label>
          <select class="form-select mb-4" [(ngModel)]="tipoPreguntaSel" (change)="changeType()">
            <option *ngFor="let tipo of tiposPregunta" [value]="tipo.codigo">
              {{tipo.descripcion}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item width-200" role="presentation">
              <button class="nav-link active w-100" id="contenido-tab" data-bs-toggle="tab" data-bs-target="#contenido-tab-pane" type="button" role="tab" aria-controls="contenido-tab-pane" aria-selected="true">Contenido</button>
            </li>
            <li class="nav-item width-200" role="presentation">
              <button class="nav-link w-100" id="personalizar-tab" data-bs-toggle="tab" data-bs-target="#personalizar-tab-pane" type="button" role="tab" aria-controls="personalizar-tab-pane" aria-selected="false">Personalizar</button>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="contenido-tab-pane" role="tabpanel" aria-labelledby="contenido-tab" tabindex="0">...</div>
            <div class="tab-pane fade" id="personalizar-tab-pane" role="tabpanel" aria-labelledby="personalizar-tab" tabindex="0">...</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>