<div class="container-fluid">
    <div class="row text-center">
        <div class="col-md-12 col-md-pr-pl-0">
            <div class="navbar navbar-expand-lg bg-light justify-content-between navbar-height">
                <span>
                  <img role="button"
                width="40"
                alt="Angular Logo"
                [routerLink]="['/']"
                src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
                />
                <span>¡UNQMeter!</span>
                </span>
                <button class="btn btn-danger m-3" (click)="signOut()" *ngIf="loggedIn">Log out</button>
              </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h3>Mis presentaciones</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-primary" (click)="open(mymodal);">
                    <i class="bi bi-plus-circle"></i> Crear
                </button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-hover">
                    <thead class="bg-light">
                        <tr>
                            <th>Nombre</th>
                            <th>Fecha creación</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let presentacion of presentaciones">
                            <td><button class="btn btn-link" [routerLink]="['/presentation-edition',presentacion.id]">{{presentacion.nombre}}</button></td>
                            <td>{{presentacion.fechaCreacion}}</td>
                            <td>
                                <button class="btn btn-link" (click)="clonarPresentacion(presentacion);">
                                    <i class="bi bi-files"></i>Clonar
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="!presentaciones.length">
                            <td>No hay presentaciones todavia</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ng-template #mymodal let-modal>
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Crear nueva presentacion</h4>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    &times;
                </button>
            </div>
            <form [formGroup]="formPresentacion" (ngSubmit)="savePresentacion();" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="firstName">Título</label>
                            <input type="text" class="form-control" [(ngModel)]="presentacionNueva.nombre" name="nombre"
                                id="titulo" formControlName="nombre" required>
                            <div *ngIf="this.formPresentacion.get('nombre')?.errors?.['required']" class="text-danger">
                                {{nombreError}}</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="firstName">Tiempo de vida</label>
                            <input type="number" class="form-control" [(ngModel)]="presentacionNueva.tiempoDeVida"
                                name="tiempoDeVida" formControlName="tiempoDeVida" id="tiempoDeVida" required>
                            <div *ngIf="this.formPresentacion.get('tiempoDeVida')?.errors?.['required']"
                                class="text-danger">{{tiempoDeVidaError}}</div>
                        </div>
                        <div class="col-md-6">
                            <label for="firstName">Tipo</label>
                            <select class="form-select" [(ngModel)]="presentacionNueva.tipoTiempoDeVida"
                                name="tipoTiempoDeVida" id="tipoTiempoDeVida" formControlName="tipoTiempoDeVida" required>
                                <option selected="selected" value="1">Horas</option>
                                <option value="2">Días</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form>
        </ng-template>
    </div>
</div>
